<div>
    <button onclick="createJob('fire')">fire-and-forget</button>
    <button onclick="createJob('delayed')">delayed</button>
    <button onclick="createJob('recurring')">recurring</button>
</div>

<script src="js/pages/job/index.js"></script>